body {
    background: #faf8ef;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fade-appear {
    transform: scale(0);
}

.fade-appear-done {
    transform: scale(1);
}