body {
    background: #faf8ef;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    background: #bbad9F;
    border-radius: 6px;
    padding: 8px;
}

.grid-row {
    margin-bottom: 8px;
}

.grid-row:last-child {
    margin-bottom: 0px;
}

.grid-cell {
    display: inline-block;
    margin-right: 8px;
}

.grid-cell:last-child {
    margin-right: 0px;
}

.tile {
    width: 100px;
    height: 100px;
    border-radius: 3px;
}

.tile-inner {
    position: absolute;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Helvetica Neue';
    text-align: center;
}

.tile-0 {
    background: #cdc1b3;
}

.tile-2 {
    background: #eee4da;
    color: #776e65;
}

.tile-4 {
    background: #ede0c8;
    color: #776e65;
}

.tile-8 {
    background: #f2b179;
    color: #f9f6f2;
}

.tile-16 {
    background: #f59563;
    color: #f9f6f2;
}

.tile-32 {
    background: #f67c5f;
    color: #f9f6f2;
}

.tile-64 {
    background: #f65e3b;
    color: #f9f6f2;
}

.tile-128 {
    background: #edcf72;
    color: #f9f6f2;
}

.tile-256 {
    background: #edcc61;
    color: #f9f6f2;
}

.tile-512 {
    background: #edc850;
    color: #f9f6f2;
}